services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:3000"
      - "8000:8000"
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
    restart: unless-stopped
